body{
    background-color: 	#5A5A5A;
    font-family: "Roboto", sans-serif;
    color: white;
}

h1{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h2{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

h3{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

p{
    line-height: 1cm;
}

img{
    border-style: solid;
    border-width: 5px;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
    align-items: center;
    border-color: black;

}

nav{
    border: 2px solid black;
}
.navbar {
    list-style-type: none;
    padding: 20px 0;
    margin: 0;
    background-color: #333;
    text-align: center;
}

.navbar li {
    display: inline;
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    line-height: 2;
}

.navbar li.active {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5A5A5A;
    color: white;
    font-weight: bold;
}

/* button {
    background: #0099ff;
    background-image: -webkit-linear-gradient(top, #0099ff, #000000);
    background-image: -moz-linear-gradient(top, #0099ff, #000000);
    background-image: -ms-linear-gradient(top, #0099ff, #000000);
    background-image: -o-linear-gradient(top, #0099ff, #000000);
    background-image: linear-gradient(to bottom, #0099ff, #000000);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 0px 1px 3px #000000;
    font-family: Arial;
    color: #ffffff;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
button:hover {
    background: #000000;
    text-decoration: none;
  } */

  a[href="#main"] {
    display: none;
  }
  a[href="#main"]:focus {
    display: block;
  }
  .skip{
      position: absolute;
      top: -40px;
      left: 0;
      padding: 5px;
      text-align: center;
      text-decoration: none;
      transition: top 0.3s;
  }
  .skip:focus, .skip:active{
      top: 0;
  }
  .food-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    text-align: center;
}

.food1 {
    grid-column: 1 / span 2;
}

.food2, .food3 {
    align-self: end;
}


.food-grid img {
    max-width: 100%;
    height: auto;
}

.pet-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1px;
    text-align: center;
}

.pet1 {
    grid-column: 1;
    grid-row: 1;
}

.pet2 {
    grid-column: 2;
    grid-row: 1;
}

.pet3 {
    grid-column: 1;
    grid-row: 2;
}

.pet4 {
    grid-column: 2;
    grid-row: 2;
}

.pet-grid img {
    max-width: 100%;
    height: auto;
}

h2{
    text-align: center;
}

@media (max-width: 768px) {
    .pet-grid {
        grid-template-columns: repeat(1, 1fr);
      }

      .pet1,
      .pet2,
      .pet3,
      .pet4 {
        grid-column: auto;
        grid-row: auto;
      }

      h1, h2, h3, p {
        text-align: center;
      }

      .navbar {
        text-align: left;
      }
  }
